/* Typography imported from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;  
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Styling Variables */
:root {
  --accent-color: #555;
  --body-typeface: "Space Grotesk", sans-serif;
  --main-heading: "Space Grotesk", sans-serif;
  --gradient: linear-gradient(45deg, #74ebd6, #9191ff, #ddeeff, #aff2ff, #74ebd6);}


body {
  font-family: var(--body-typeface);
  color:#333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* Making all images responsive */
img {
  max-width: 100%;
  height: auto;
}


/* Typography */

h1 {
  font-size: 6em;
  font-family: var(--main-heading);
  font-weight: 700;
  margin-bottom: 0.2em;
}

h3 {
  font-size: 2em;
  font-family: var(--main-heading);
  font-weight: 700;
  margin-bottom: 0.2em;
}

h5 {
  font-family: 'IBM Plex Mono';
  margin-bottom: 0.4em;
}

h6 {
  font-family: 'Space Grotesk';
  font-size: 14px;
  margin-bottom: 1em;
}

.hero-headline {
color: white;
}

#hero-headline-break {
  display: block;
  padding: 15px 0;
}

/* Hyperlink Styles */
a {
  text-decoration: none;
  color: #26a199;
}
a:hover {
  color: #ffc76d;
}

p {
  margin-bottom: 1em;
  line-height: 150%;
}

.intext-email {
  color: #ffffff;
}

.intext-email a:hover {
  color: #ffc76d;
}



/* Work Page Layout */

.work-wrapper {
  flex: 1;
}

.portfolio {
  padding: 1rem;
}

/* Defining the work page grid */
.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(450px, 1fr));
  grid-gap: 1rem;
  /* Magical, media-query-less responsiveness is achieved using the repeat() function and the auto placement keywords. To achieve wrapping, we can use the auto-fit. If you're using auto-fit, the content will stretch to fill the entire row width.  Specify a minimum width for the columns, using the minmax() function. The 1fr is what tells the browser to distribute the space between the columns so that each column equally gets one fraction of that space.  */
}

.main-footer {
  min-height: 100vh;
  background: #0a3a4a;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  color: #ffffff;
}


/* Hero */

.branding-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 2em;
  align-items: center;
}

.logo {
  width: 2.2em;
}

.hero-headline-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 4em 8em;
  text-align: center;
}

.hero-headline {
  font-size: 3em;
}

.footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em 2em;
  align-items: center;
}

.hero a{
  color: white;
}

.hero a:hover {
  color: #ffc76d;
}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: 600%;
  background-image: var(--gradient);
  animation: bg-animation 120s infinite alternate;
}

@keyframes bg-animation {
  0% {background-position: 0%;}
  100% {background-position: 100%;}
}


/* Project Page */

.project-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.project-aside {
  width: 35vw;
  height: 60vh;
  position: -webkit-sticky;
  position: sticky;
  top: 5vh;
  padding: 1em;
  margin-bottom: 3em;
}

.project-overview {
  margin: 2.5em 0;
}

.project-navigation {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.arrow {
  padding-right: 1em;
}

.project-details {
  width: 60vw;
  min-height: 100vh;
  padding: 1em;
}

.project-item {
  position: relative;
  display: inline-block;
}

.project-item img {
  vertical-align: bottom;
}

/* About */

.about-experience-recognition {
  display: flex;
  gap: 2em;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: minmax(0vh, 80vh);
  flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
  margin: 1em;
  }

.about-item {
  display: inline-block;
  text-align: start;
  margin-top: 2em;
}

.about-item h3 {
  margin-bottom: 1.2em;
}

.about-experience-recognition .fa {
  background-color:#ffffff;
  padding: 10px;
  border-radius: 50%;
  width: 37px;
  text-align: center;
  margin: 0.6em 0.8em 0 0;
}

.credits {
  margin-top: 3em;
}


/* Responsiveness */

@media (max-width:1024px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }

  .project-wrapper {
    flex-direction: column;    
  }

  .project-details {
    width: auto;
  }

  .project-aside {
    width: auto;
    position: relative;
    min-height: auto;
  }

  .about-experience-recognition {
    flex-direction: column;
  }

  .about-grid {
    grid-template-rows: min-content;
  }
}